<h2>Register</h2>

<ion-item>
  <ion-label> Enter first name:</ion-label>
  <ion-input placeholder="Kai" type="text" [(ngModel)]="user.firstName" required="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label> Enter last name:</ion-label>
  <ion-input placeholder="Komolamoto" type="text" [(ngModel)]="user.lastName" required="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label> Enter photo Url:</ion-label>
  <ion-input placeholder="Kai" type="url" [(ngModel)]="user.photoUrl"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Enter email: </ion-label>
  <ion-input placeholder="example@example.com" type="email" [(ngModel)]="user.email" required="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Enter phone: </ion-label>
  <ion-input placeholder="mypassword" type="text" [(ngModel)]="user.phone" ></ion-input>
</ion-item>

<ion-item>
  <ion-label>Enter password: </ion-label>
  <ion-input placeholder="mypassword" type="password" [(ngModel)]="user.password" required="true"></ion-input>
</ion-item>

<ion-button  (click)="signIn()" color="success" expand="block">Sign up</ion-button>
<ion-button  href="/login" color="secondary" expand="block">LogIn</ion-button>

