.carrousel {
	padding-top: 60px;
}

ion-button {
	position: fixed;
	bottom: 4%;
	right: 2%;
}

ion-fab-button {
	position: fixed;
	bottom: 4%;
	right: 2%;
}

ion-img {
	max-width: 100%;
  	height: auto;
}