<!-- <p>event-form works!</p> -->
<ion-content overflow-scroll="true">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm.value)">
    <div style="padding-top: 50px;">
      <ion-list lines="full">
        <ion-item>
          <ion-label for="name" position="floating">Name</ion-label>
          <ion-input id="name" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label for="description" position="floating">Description</ion-label>
          <ion-textarea id="description" formControlName="description"></ion-textarea>
        </ion-item>
        
        <ion-item color="light">
          <ion-label for="address" position="stacked">Address</ion-label>
          <ion-textarea id="address" readonly>{{address}}</ion-textarea>
          <ion-label for="location" position="stacked">Location</ion-label>
          <ion-input id="location" [(ngModel)]="location" readonly formControlName="address"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-grid>
            <input placeholder="Search" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              class="form-control" #search [formControl]="searchControl"
              style="width: 95%; padding: 20px; margin: 20px;" />
            <ion-row>
              <ion-col class="ion-justify-content-center" size-xs="12" size-sm="12" size-lg="12" size-md="12"
                id="map-holder">
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" class="ion-text-center">
                  <agm-marker #marker [latitude]="latitude" [longitude]="longitude"
                    [animation]="userLocationMarkerAnimation" (markerClick)="clickedMarker(infowindow)"
                    (mouseOver)="markerOver()" (mouseOut)="markerOut()">
                    <agm-info-window #infowindow>
                      <ion-title>{{label}}</ion-title><br>
                      <ion-button color="tertiary" (click)="addToEvent()">Add to Event</ion-button>
                    </agm-info-window>
                  </agm-marker>
                </agm-map>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

  
        <ion-item>
          <ion-label for="category" position="floating">Category</ion-label>
          <ion-select formControlName="category" id="category">
            <ion-select-option *ngFor="let category of categories | async">{{category.es}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Photo</ion-label>
          <ion-button type="button" (click)="addPhoto()" class="ion-no-margin" color="tertiary">Add Photo URL
          </ion-button>
          <ion-row *ngFor="let photo of photoUrls.controls; let i = index">
            <ion-col>
              <ion-label position="stacked">Image URL</ion-label>
              <ion-input type="text" class="form-control" [formControlName]="i"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin button" color="tertiary" (click)="presentAlert()">Add</ion-button>
        </div>
      </ion-list>
    </div>

    <!-- 
    <div>
      <label for="name">
        Name
      </label>
      <input type="text" id="name" formControlName="name">
    </div>

    <div>
      <label for="description">
        Description
      </label>
      <input type="text" id="description" formControlName="description">
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input type="text" id="address" formControlName="address">
    </div>


    <div>
      <label for="category">
        Category
      </label>
      <select formControlName="category" id="category">
        <option *ngFor="let category of categories | async">
          {{category}}
        </option>
      </select>
    </div>

    <div>
      <button type="button" (click)="addPhoto()">Add Photo URl</button>
      <ul>
        <li *ngFor="let photo of photoUrls.controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
        </li>
      </ul>
    </div>

    <button class="button" type="submit">Add</button> -->
  </form>
</ion-content>
