<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{'botton-navbar.events' | translate}}</ion-label>
      <!--    <ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'botton-navbar.home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon name="globe"></ion-icon>
      <ion-label>{{'botton-navbar.discover' | translate}}</ion-label>
    </ion-tab-button>
  
    <!--
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'botton-navbar.profile' | translate}}</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
