<h2>Login</h2>

<ion-item>
  <ion-label>Enter email</ion-label>
  <ion-input placeholder="example@example.com" type="email" [(ngModel)]="user.email" required="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Enter password</ion-label>
  <ion-input placeholder="mypassword" type="password" [(ngModel)]="user.password" required="true"></ion-input>
</ion-item>

<ion-button  (click)="signIn()" color="success" expand="block">LogIn</ion-button>
<ion-button  href="/register" color="secondary" expand="block">Register</ion-button>

