<ion-content *ngIf="event" style="offset-top: -20px !important;">
  <ion-grid style="margin-top: 30px;">
    <ion-row>

      <ion-col>
        <h1>
          {{event.name}}
        </h1>
        <h2 *ngFor="let category of categories | async;let i = index">
          <div *ngIf="i === event.category">
            {{category}}
          </div>
        </h2>
        <button *ngIf="event.owner_id === userId" (click)="edit()">Editar</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--    <ion-img src="../../../assets/img/tmp.jpeg"></ion-img>-->
    </ion-row>
    <ion-row>
      <ion-col class="ion-justify-content-center" size-xs="10" size-sm="10" size-lg="10" size-md="10">
        <ion-row>
          <ion-col class="ion-justify-content-center" size-xs="12" size-sm="12" size-lg="4" size-md="4">
            <ion-img
              src="{{event.photoUrls[0]}}"></ion-img>
          </ion-col>
          <ion-col class="ion-justify-content-center" size-xs="12" size-sm="12" size-lg="8" size-md="8"
                   id="map-holder">
            <agm-map [latitude]="event.address['lat']" [longitude]="event.address['lng']"  text-center [zoom]="15">
              <agm-marker [latitude]="event.address['lat']" [longitude]="event.address['lng']"></agm-marker>
            </agm-map>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Descripción:</h2>
            <p>{{event.description}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Fecha</h2>
            <p>{{event.date}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Ubicación</h2>
            <p>latitud: {{event.address['lat']}}, longitud: {{event.address['lng']}}</p>
          </ion-col>
        </ion-row>
        <!--         &lt;!&ndash;-->
        <!--
        <ion-row>
          <ion-col>
            <h2>Invitados</h2>
            <ul>
              <li *ngFor="let user of event.invited_status">
                <p *ngIf="users[user.user_id]">
                  {{users[user.user_id].firstName + " " + users[user.user_id].lastName}}
                </p>
                <p *ngIf="users[user.user_id]">
                  {{users[user.user_id].name}}
                </p>
                <p *ngIf="inviteStatus">
                  {{inviteStatus[user.status]}}
                </p>
              </li>
            </ul>
          </ion-col>
        </ion-row>-->
        <!--        &ndash;&gt;-->
        <!--
        <ion-row>
          <ion-list>
            <ion-list-header>
              <h2>
                Mensajes del evento
              </h2>
            </ion-list-header>
            <ion-item *ngFor="let message of event.messages">
              <ion-avatar>
                <img *ngIf="users[message.user_id]"
                     src="{{users[message.user_id].photoUrl}}"
                     alt="">
              </ion-avatar>
              <ion-label>
                <h2
                  *ngIf="users[message.user_id]">{{users[message.user_id].firstName + " " + users[message.user_id].lastName}}</h2>
                <p>{{message.text}}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <form [formGroup]="messageForm" (ngSubmit)="submitMessage(messageForm.value)">
                <ion-input type="text" name="messageText" id="messageText" formControlName="messageText"
                           placeholder="Escribe tu mensaje"></ion-input>
                <ion-button type="submit">Enviar</ion-button>
              </form>
            </ion-item>
          </ion-list>
        </ion-row>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
